<div class="appContent">
    <h1><img src="assets/navizero_icon.png" height="40px" /> 导航零号</h1>
    <p>导航零号是引擎部直接开发的，面向大众的导航软件。
        它有 iOS 和 Android 两个版本。苹果 AppStore，华为应用市场，小米应用商店均可下载。</p>
    <p>导航零号基于<a routerLink="../sdk">导航SDK</a>开发，具备搜索、算路、路况等全部功能。它是个样板项目，体现了导航引擎最新的功能。
        为各种定制导航项目趟平了产品化的道路。</p>
    <p>并且，它已经内部全部开源。各项目部可以在它的基础上做改造，做项目定制。</p>

    <div class="scrolling-wrapper-flexbox">
        <img [src]="img" *ngFor="let img of images"/>
    </div>

    <h2>下载</h2>
    <ul>
        <li *ngFor="let ref of downloads">
            <a [href]="ref.link">
                {{ ref.title }}
            </a>
        </li>
    </ul>

    <h2>源代码</h2>
    <p>源代码只能从公司内网访问。</p>
    <ul>
        <li>
            <a href="https://gitlab.mapbar.com/navicore/navi-zero-ios">
                iOS版代码仓库
            </a>
        </li>
        <li>
            <a href="https://gitlab.mapbar.com/navicore/navi-zero-android">
                Android版代码仓库
            </a>
        </li>
    </ul>

    <h2>其它资料</h2>
    <ul>
        <li *ngFor="let ref of references">
            <a [href]="ref.link">
                {{ ref.title }}
            </a>
        </li>
    </ul>
</div>