<div class="appContent">
    <h1><img src="assets/hamster.png" height="30px" /> ITE</h1>
    <p>
        ITE(Integrated testing environment)是用于测试导航引擎的工具。它展示了导航引擎的全部前沿功能。
        它是和引擎同步开发的，主要用于引擎的集成开发。测试人员也用它测试引擎功能。
        产品人员用它编辑地图配色。
    <p>
    <p>
        ITE主要在Windows平台上使用。也可以在所有Unix兼容平台上运行，
        从而为引擎在这些系统上稳定运行提供测试保证。
    </p>

    <img src="assets/ite.png" style="max-width:100%;" />
    
    <h1>下载</h1>

    <p>
        <a (click)="loginService.download('http://navicore.mapbar.com/ncgit/ite_win32.zip')">Windows 8/10 下载</a>
        &nbsp;<nz-tag [nzColor]="'gold'">Windows 7 不再支持</nz-tag>
    </p>

    <h1>代码</h1>
    <p>只能在内网环境访问</p>
    <p><a (click)="loginService.download('https://gitlab.mapbar.com/navicore/ite')">ITE代码仓库</a></p>
</div>