<mat-toolbar color="primary">
    <span>
        <button mat-button routerLink="">
            <img src="assets/static_core_big.png" style="height:20px; padding-bottom: 3px" />&nbsp;&nbsp;NaviCore
        </button>
    </span>

    <!-- Menu items -->
    <span *ngFor="let item of menuItems">
        <button *ngIf="isDesktop()" mat-button [routerLink]="item.link"> {{ item.title }} </button>
    </span>

    <!-- Spacer -->
    <span class="example-spacer"></span>

    <!-- Login -->
    <span>
        <button mat-button *ngIf="!loginService.loginSucceeded" (click)="showLoginBox()">登录</button>
        <button mat-button *ngIf="loginService.loginSucceeded" [matMenuTriggerFor]="profileMenu">
            <i nz-icon nzType="user" nzTheme="outline"></i>
            &nbsp; {{ loginService.username }} &nbsp;
            <i nz-icon nzType="down" nzTheme="outline" style="font-size: 10px;"></i>
        </button>
        <nz-modal #loginBox [(nzVisible)]="loginBoxVisible" nzTitle="Login" nzMaskClosable="false"
            [nzOkDisabled]="loginForm.disabled" (nzOnCancel)="handleLoginCancel()"
            (nzOnOk)="handleLoginOK(loginForm.value)">
            <form [formGroup]="loginForm">
                <p><input (input)="clearLoginMessage()" nz-input formControlName="username" placeholder="LDAP 用户名" />
                </p>
                <p><input (input)="clearLoginMessage()" nz-input #passwordInput formControlName="password"
                        type="password" placeholder="密码" /></p>
                <p *ngIf="loginMessage != ''">
                    <nz-tag [nzColor]="'gold'">{{ loginMessage }}</nz-tag>
                </p>
            </form>
        </nz-modal>
    </span>

    <!-- Menu(on the right) for Mobile device -->
    <span *ngIf="!isDesktop()">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <i nz-icon nzType="menu" style="line-height: 1em;"></i>
        </button>
        <mat-menu #menu>
            <button mat-menu-item *ngFor="let item of menuItems" [routerLink]="item.link">
                {{ item.title }}
            </button>
        </mat-menu>
    </span>

    <mat-menu #profileMenu>
        <button mat-menu-item (click)="loginService.logout()">退出登录</button>
    </mat-menu>
</mat-toolbar>