.example-spacer {
    flex: 1 1 auto;
}

.profile-img {
    display: inline-block;
    border-radius: 50%;
    margin: 0 auto;
    height: 30px;
    width: auto;
}

mat-toolbar {
    height: 64px;
}

.footer-area {
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    .ok-button {
        flex-grow: 1;
    }
    .cancel-button {
        width: 100px;
    }
}