.toc-title {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgb(213, 213, 213);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

ul {
    text-transform: capitalize;
    list-style: none;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 0;
    li {
        padding: 3px 0 3px 0;
    }
}

::ng-deep .ant-card-body {
    padding: 0;
    font-size: 12px;
}

::ng-deep .ant-card-head {
    padding: 0 10px;
}

::ng-deep .ant-card-head-title {
    padding: 10px 0;
}

.featured-doc {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgb(231, 231, 231);

    .featured-doc-left {
        flex: auto;
        padding-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 100px;

        h1 {
            white-space: nowrap;
            font-size: 16px;
            margin: 5px 0;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        p {
            margin: 0 0;
        }
    }

    .featured-image {
        width: 100px;
        min-width: 100px;
        height: 100px;

        img {
            height: 100px;
        }
    }

    @media (min-width: 768px) {
        .featured-image {
            width: 150px;
            min-width: 150px;
            height: 100px;
        }
    }
}

.bottom-docs {
    margin: 5px 0 0 0;
}
