<div class="appContent" *ngIf="loginService.loginSucceeded; else unauthorized">
    <div>
        <div
            *ngFor="let doc of featuredDocuments"
            matRipple
            class="featured-doc"
            [routerLink]="'/' + doc.href"
        >
            <span class="featured-doc-left">
                <h1>{{ doc.title }}</h1>
                <p>{{ doc.content }}</p>
            </span>
            <div class="featured-image">
                <img [src]="doc.image" />
            </div>
        </div>
    </div>

    <div class="bottom-docs">
        <nz-list
            [nzDataSource]="documentListArray"
            [nzRenderItem]="docList"
            [nzGrid]="{ gutter: 16, xs: 24, sm: 8, md: 8, lg: 6, xl: 6 }"
        >
            <ng-template #docList let-item>
                <nz-list-item [nzContent]="nzContent">
                    <ng-template #nzContent>
                        <nz-card [nzTitle]="item.title" [nzBordered]="false">
                            <ul>
                                <li *ngFor="let doc of item.documents">
                                    <a (click)="openDocument(doc.link)">{{
                                        doc.name
                                    }}</a>
                                </li>
                            </ul>
                        </nz-card>
                    </ng-template>
                </nz-list-item>
            </ng-template>
        </nz-list>
    </div>
</div>

<ng-template #unauthorized>
    <div class="appContent">
        <h1 style="text-align: center;">请先登录</h1>
    </div>
</ng-template>
