:host {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nz-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 54px;
    z-index: 10;
}

nz-content {
    display: flow-root;
    margin: 54px 0 0 0;
}

.app-header {
    padding-left: 0;
    padding-right: 0;
    height: fit-content;
    background-color: transparent;
}

.app-content {
    margin: 0 auto;
    padding: 0;
}

@media (min-width: 768px) {
    .app-content {
        padding: 0 0;
    }   
}

.app-footer {
    text-align: center;
}
