:host {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
    padding-left: 0;
    padding-right: 0;
    height: fit-content;
}

@media screen and (max-width: 1000px) {
    .pcLayout {
        padding-left: 0;
        padding-right: 0;
        height: fit-content;
    }
}

@media screen and (max-width: 500px) {
    .mobileLayout {
        display: none;
        padding-left: 0;
        padding-right: 0;
        height: fit-content;
    }
}

.content {
    max-width: 1024px;
    padding: 10px 30px 0 30px;
}

.footer {
    text-align: center;
}

.example-spacer {
    flex: 1 1 auto;
}