<nz-layout>
    <div>
        <nz-header class="app-header" *ngIf="!isStandaloneDocument()">
            <app-title-bar></app-title-bar>
        </nz-header>
        <nz-content class="app-content">
            <router-outlet></router-outlet>
        </nz-content>
        <nz-footer class="app-footer" *ngIf="!isStandaloneDocument()">
            备案号：<a href="http://beian.miit.gov.cn/">京ICP备18024060号-1</a>
            <br>
            <span style="font-size: smaller">
            The source code of this site is hosted on
            <a href="https://github.com/kingsimba/navicore-site-v2">GitHub <i nz-icon nzType="github"></i></a>.
            </span>
        </nz-footer>
    </div>
</nz-layout>