<div class="appContent">
    <h1><i nz-icon nzType="github"></i> 开源项目</h1>
    <p>
        我们的C++服务器架构、地图数据切割算法等已经开源。
        可以在部门的 Github 中<a href="https://github.com/NavInfoNC" target="_blank">查看全部项目</a>。
    </p>

    <div fxLayout="row wrap" fxLayout.xs="column">
        <div class="card" *ngFor="let ref of projects; index as i">
            <nz-card nzBordered="true" [nzTitle]="ref.title"
                [nzExtra]="extraTemplate">
                <p [innerHtml]="ref.description"></p>

                <ng-template #extraTemplate>
                    <a [href]="ref.link" target="_blank">Visit on <i nz-icon nzType="github"></i></a>
                </ng-template>
            </nz-card>
        </div>
    </div>
</div>