::ng-deep .appContent .headerlink {
    visibility: none;
    font-size: 14px;
}

::ng-deep .appContent img {
    max-width: 100%;
}

::ng-deep .document {
    img {
        max-width: 100%;
        max-height: 400px;
    }

    .title {
        font-size: 1.8em;
    }
    .section {
        h1 {
            font-size: 2em;
            margin: 20px 0 10px 0;
        }
        h2 {
            font-size: 1.3em;
            font-weight: bold;
            border-style: solid;
            border-width: 0 0 1px 0;
            border-color: rgb(221, 221, 221);
            padding-bottom: 8px;
        }
        h3 {
            margin: 5px 0;
            font-size: 1.3em;
            font-weight: 500;
        }
        h1,
        h2,
        h3,
        h4,
        h5 {
            color: #314659;
            text-transform: capitalize;
        }
        h1:hover,
        h2:hover,
        h3:hover {
            .headerlink::after {
                visibility: visible;
            }
        }
        ul {
            padding-left: 25px;
        }

        .contents {
            margin: 20px 0 20px 0;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                border-width: 0 0 0 1px;
                border-color: #1890ff;
                border-style: solid;
                font-size: 1em;

                li {
                    padding: 0;
                    margin: 0;
                    a {
                        text-transform: capitalize;
                        display: block;
                    }
                    ul {
                        border-style: none;
                        font-size: 85%;
                    }
                }
            }

            ul li a {
                padding: 5px 0 5px 20px;
            }

            ul li ul li a {
                padding: 5px 0 5px 40px;
            }
        }

        .toctree-wrapper {
            ul {
                list-style: none;
                padding-left: 0;
                font-size: 0.9em;
                font-weight: 400;
            }

            ul li a {
                display: block;
                padding: 1px 0;
            }

            ul ul {
                padding-left: 20px;
                font-size: 85%;
                font-weight: normal;
            }

            ul ul a {
                padding: 0;
            }
        }

        pre {
            background-color: rgb(234, 247, 255);
            padding: 10px;
            font-family: Consolas, "Andale Mono WT", "Andale Mono",
                "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
                "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
                Monaco, "Courier New", Courier, monospace;
            font-size: 80%;
            border-style: solid;
            border-width: 0 0 0 3px;
            border-color: rgb(104, 185, 255);
        }

        .literal {
            border-style: solid;
            border-width: 1px;
            border-color: rgb(226, 226, 226);
            background-color: white;
            padding: 2px 5px;
            color: rgb(211, 0, 0);
            font-size: 90%;
        }

        .warning {
            background-color: rgb(252, 231, 208);
            .admonition-title {
                margin: 0;
                padding: 5px 10px;
                background-color: rgb(247, 175, 99);
                color: white;
                font-weight: bold;
            }
            .admonition-title::before {
                content: "⚠ ";
            }
            .last {
                margin: 0;
                padding: 10px 10px;
            }
        }

        .note {
            background-color: rgb(225, 243, 255);
            .admonition-title {
                margin: 0;
                padding: 5px 10px;
                background-color: rgb(102, 173, 224);
                color: white;
                font-weight: bold;
            }
            .admonition-title::before {
                content: "⚠ ";
            }
            .last {
                margin: 0;
                padding: 10px 10px;
            }
        }

        .warning,
        .note {
            margin: 5px 0;
        }

        dt {
            font-weight: bold;
        }
        dd {
            padding-left: 25px;
        }
    }

    .headerlink {
        visibility: hidden;
        font-family: FontAwesome;
        font-size: 70%;
    }

    .headerlink::after {
        content: "🔗";
    }
}

.navigation-title {
    font-family: "Roboto", "Segoe UI", "PingFang SC", "微软雅黑";
    margin: 10px 10px 0 10px;
    padding: 5px 10px 10px 10px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: rgb(226, 226, 226);
    color: #314659;

    a {
        color: #314659;
    }
}

::ng-deep .navigation {
    padding: 10px 10px 10px 0;
    font-size: 13px;
    font-family: "Roboto", "Segoe UI", "PingFang SC", "微软雅黑";

    ul {
        list-style-type: none;
        padding-inline-start: 0px;
        padding: 0;
    }

    .toctree-l1.current {
        background-color: rgb(211, 236, 253);
    }

    .toctree-l2.current {
        background-color: rgb(231, 243, 251);
    }

    li {
        margin: 0;
        padding: 0;
        background-color: white;
    }

    a {
        display: block;
        color: #314659;
        padding: 5px 0px 5px 20px;
        font-weight: 500;
    }

    ul li ul li a {
        padding: 5px 0px 5px 40px;
        font-weight: normal;
        font-size: 85%;
    }

    ul li ul li ul li a {
        padding: 5px 0px 5px 60px;
    }

    ul li ul li ul li ul li a {
        padding: 5px 0px 5px 80px;
    }

    a:hover {
        color: #1890ff;
    }
}

///////////////////////////////////////////////////
// Sider bar
.sider-bar {
    scrollbar-width: thin;
    overflow: hidden;
    position: absolute;
    background: white;
    width: 250px;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: rgb(231, 231, 231);
    top: 64px;
}

//
.sider-bar:hover {
    height: 100vh;
    overflow: overlay;
}

.sider-bar-sticky {
    position: fixed;
    top: 0;
}

///////////////////////////////////////////////////
// Document area
.doc-content {
    margin: 0 0 0 250px;
    padding: 1px 20px 20px 20px;
    overflow: initial;
    background: white;
}

///////////////////////////////////////////////////
// Loading progress bar
mat-progress-bar {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 64px;
}

///////////////////////////////////////////////////
// sider-bar scroll bar
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgb(241, 241, 241);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(191, 191, 191);
}
