/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";

/* open-sans-regular */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: regular;
  src: url("//lib.baomitu.com/fonts/open-sans/open-sans-regular.eot"); /* IE9 Compat Modes */
  src: local("Open Sans"), local("OpenSans-Normal"),
    url("//lib.baomitu.com/fonts/open-sans/open-sans-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("//lib.baomitu.com/fonts/open-sans/open-sans-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("//lib.baomitu.com/fonts/open-sans/open-sans-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("//lib.baomitu.com/fonts/open-sans/open-sans-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("//lib.baomitu.com/fonts/open-sans/open-sans-regular.svg#OpenSans")
      format("svg"); /* Legacy iOS */
}

/* roboto-regular */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: regular;
  src: url("//lib.baomitu.com/fonts/roboto/roboto-regular.eot"); /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Normal"),
    url("//lib.baomitu.com/fonts/roboto/roboto-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("//lib.baomitu.com/fonts/roboto/roboto-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("//lib.baomitu.com/fonts/roboto/roboto-regular.woff") format("woff"),
    /* Modern Browsers */
      url("//lib.baomitu.com/fonts/roboto/roboto-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("//lib.baomitu.com/fonts/roboto/roboto-regular.svg#Roboto")
      format("svg"); /* Legacy iOS */
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  overflow-wrap: break-word;
  font-family: "Open Sans", "Segoe UI", "PingFang SC", "微软雅黑";
  font-size: 14px;
}

h1,
h2,
h3,
h4 {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-transform: capitalize;
  font-family: "Roboto", "Segoe UI", "PingFang SC", "微软雅黑";
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-weight: 500;
  font-size: 1.5em;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

// first level ordered-list
ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

// second level ordered-list
ol ol {
  padding-inline-start: 25px;
}

li {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

.appContent {
  @include mat-elevation(2, black, 0.5);
  margin: 0px auto 5px auto;
  background-color: white;
  padding: 10px 20px;
}

@media (min-width: 1024px) {
  .appContent {
    max-width: 980px;
    margin: 10px auto 5px auto;
    padding: 10px 20px;
  }
}

/*
  For rst2html5.py generated content
*/
.document {
  .title {
    font-size: 1.8em;
  }
  .section {
    h1 {
      font-size: 1.3em;
    }
    h2 {
      font-size: 1.3em;
    }
  }

  table {
    border-collapse: collapse;
    border: 1px solid #fff; /*for older IE*/
    border-style: hidden;
  }

  table caption {
    background-color: #ddd;
    color: #fff;
    font-size: small;
    font-weight: bold;
    letter-spacing: 0.3em;
  }

  table thead th {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.05);
    font-size: small;
    font-weight: 500;
  }

  table thead th#thDay {
    width: 40%;
  }

  table thead th#thRegular,
  table thead th#thOvertime,
  table thead th#thTotal {
    width: 20%;
  }

  table th,
  table td {
    padding: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) transparent;
  }

  table td {
    text-align: left;
  }

  table tbody th {
    text-align: left;
    font-weight: normal;
  }

  table tfoot {
    font-weight: bold;
    font-size: small;
    background-color: #687886;
    color: #fff;
  }

  table tr.even {
    background-color: #fde9d9;
  }

  td p {
    font-size: small;
  }

  td p,
  tr p {
    margin: 0;
  }
}
