<div class="appContent document" id="id1">
    <h1 class="title">导航零号产品服务条款</h1>

    <div class="section" id="id2">
        <h1>服务条款的确认和接收</h1>
        <p>欢迎您使用导航零号产品服务！导航零号产品涉及到的地图数据、软件及相关资料的所有权和知识产权归导航零号（简称为“导航零号”）所有。在您使用导航零号研发团队的一切产品和服务（简称为“导航零号产品或服务”）之前，请您务必认真阅读并充分理解《导航零号产品用户服务条款》（简称为“本服务条款”）。本服务条款的效力范围及于导航零号研发团队的一切产品和服务，用户在享受导航零号产品任何单项服务时，应当受本服务条款的约束。一旦您开始使用导航零号研发团队产品或服务，表示您已理解并同意本服务条款，本服务条款将构成对您具有约束力的法律文件，同时还表明您已完全同意并承认导航零号研发团队已经履行了相关提示和通知义务。
        </p>
    </div>
    <div class="section" id="id3">
        <h1>用户账号, 密码和安全性</h1>
        <p>您一旦注册成功成为导航零号产品或服务的用户，您将得到一个密码和帐号。如果您未保管好自己的帐号和密码而对您、导航零号或任何第三方造成损害，您将自行承担因此产生的全部后果和损失。另外，每个用户都要对其账号下发生的所有活动和事件承担全部责任。您可随时改变您的密码和图标，也可以结束旧的帐户重开一个新帐户。用户帐号的所有权归导航零号，您完成注册申请手续后，获得用户帐号的使用权。您设置的昵称不得违反法律法规或侵犯或涉嫌侵犯他人合法权益。
        </p>
        <p>在帐号注册过程中，您应当按照法律法规要求（例如实名制）以及注册页面的提示准确提供帐号注册所需的个人资料，例如拟用帐号名称、昵称、密码、密码保护问题、电子邮箱、手机号码等资料（以下统称为“注册资料”）。请保证您提交给导航零号产品的任何注册资料都是真实的、准确的、完整且是最新的。如若您的资料有任何更改，请及时更新。如我们有合理理由认为您提交的注册资料错误、不实或者不完整、不准确、未及时更新，或不符合法律法规的要求的，导航零号有权向您发送询问或者要求您更改的通知，并有权做出相应处理（包括但不限于导航零号自行删除相关资料、暂停或终止对您的部分或全部服务）。您应自行承担因此产生的全部后果和损失，导航零号对此不承担责任。
        </p>
        <p>为了更好的为您提供服务以及确保您的帐号安全，您同意并授权：导航零号可以根据您提供的手机号码、身份证号码等信息，向全国公民身份号码查询服务中心、电信运营商、金融服务机构等机构或单位发起用户身份真实性、用户征信记录、用户手机号码有效性状态等情况的查询。
        </p>
    </div>
    <div class="section" id="id4">
        <h1>服务条款的修改</h1>
        <p>导航零号保留随时修改或中断服务而不需通知用户的权利。用户接受导航零号行使修改或中断服务的权利，导航零号不需对用户或第三方负责。</p>
    </div>
    <div class="section" id="id5">
        <h1>服务修订</h1>
        <p>导航零号有权在必要时修改本服务条款以及导航零号产品或服务项下各单项服务或相关市场活动的相关条款。相应服务条款一旦发生变动，将会在导航零号产品内公布修改后的服务条款。如果不同意所改动的内容，用户应主动取消导航零号产品或服务。如果用户继续使用导航零号产品或服务，则视为接受相应服务条款的变动。用户在享受单项服务时，应当及时查阅了解相应修改内容，并自觉遵守本服务条款以及该单项服务的相关条款。
        </p>
        <p>导航零号保留随时单方修改或中断服务而不需通知用户的权利。用户认可并接受导航零号行使随时单方修改或中断服务的权利，导航零号不需就前述行为对用户或第三方承担责任。</p>
    </div>
    <div class="section" id="id6">
        <h1>拒绝提供担保和风险承担</h1>
        <p>用户明确同意使用导航零号产品或服务的全部风险由用户个人承担。导航零号明确表示不提供任何类型的担保，不论是明确的或隐含的。导航零号不担保服务一定能满足用户的要求，也不担保服务不会中断，对服务的及时性、安全性、真实性、出错或文件丢失的发生不承担任何责任。导航零号拒绝提供任何担保，包括信息能否准确、及时、顺利地传送。用户理解并接受通过导航零号产品或服务取得的任何信息及资料均取决于用户自己，系统受损、资料丢失以及其它任何风险均由用户自行承担。
        </p>
    </div>
    <div class="section" id="id7">
        <h1>免责声明</h1>
        <p>导航零号对直接、间接、偶然、特殊及继起的损害不负责任，这些损害的来源包括但不限于：不正当使用产品服务，非法使用服务或用户传送的信息有所变动。这些损害会导致导航零号公司形象受损，所以导航零号明确告知用户这种损害的可能性，并提请用户应当避免这种损害的发生，损害一旦发生，其责任应当由用户承担，且导航零号保留就维护自身合法权益采取进一步措施的权利。
        </p>
    </div>
    <div class="section" id="id8">
        <h1>禁止服务的商业化</h1>
        <p>用户使用导航零号产品或服务的权利是个人的。用户只能是一个单独的自然人而不能是一个公司或实体的商业性组织。用户承诺不经导航零号书面同意，用户不能利用导航零号产品或服务进行包括但不限于销售或辅助销售在内的任何商业用途。
        </p>
    </div>
    <div class="section" id="id9">
        <h1>用户管理</h1>
        <p>用户单独承担发布内容的责任。用户对服务的使用是根据所有适用于服务的地方法律、国家法律和国际法律标准的。用户承诺：</p>
        <ol class="arabic simple">
            <li>
                <p>在导航零号产品或服务的网页上发布信息、在地图上所标位置点时、或者利用导航零号产品或服务时必须符合中国有关法规，不得在导航零号产品或服务的网页上或者利用导航零号产品或服务制作、复制、发布、传播以下信息：
                </p>
                <ol class="arabic simple">
                    <li>
                        <p>违反宪法确定的基本原则的;</p>
                    </li>
                    <li>
                        <p>宣扬或实施危害国家主权、国家安全、国家秘密、社会秩序、社会稳定、公序良俗，或颠覆国连胜政权，破坏国家统一的;</p>
                    </li>
                    <li>
                        <p>损害国家荣誉和利益的;</p>
                    </li>
                    <li>
                        <p>宣扬或实施煽动民族仇恨、民族歧视，破坏民族团结的;</p>
                    </li>
                    <li>
                        <p>破坏国家宗教政策，宣扬邪教和封建迷信的;</p>
                    </li>
                    <li>
                        <p>散布谣言，扰乱社会秩序，破坏社会稳定的;</p>
                    </li>
                    <li>
                        <p>散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的;</p>
                    </li>
                    <li>
                        <p>侮辱或者诽谤他人，分割他人合法权益的;</p>
                    </li>
                    <li>
                        <p>煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的;</p>
                    </li>
                    <li>
                        <p>以非法民间组织名义活动的;</p>
                    </li>
                    <li>
                        <p>宣扬或实施含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵或其它道德上令人反感的内容的行为;</p>
                    </li>
                    <li>
                        <p>宣扬或提供关于非法行为的说明信息;</p>
                    </li>
                    <li>
                        <p>宣扬或实施侵害他人的人身财产、名誉权、肖像权、知识产权、商业秘密权等合法权益的行为；</p>
                    </li>
                    <li>
                        <p>上载、张贴、发表、发布、传送、传播、存储任何广告信息、垃圾信息、病毒或旨在危害计算机软硬件正常运转的代码、文档或其他任何违法信息；</p>
                    </li>
                    <li>
                        <p>制作、发布、传播用于窃取他人的账号、财产及个人信息的网站、软件或服务，或利用趣驾服务跟踪、追踪、监视、骚扰或伤害他人；</p>
                    </li>
                    <li>
                        <p>收集或存储有关其他用户的个人数据，用于法律法规或本用户服务条款禁止的行为或活动；</p>
                    </li>
                    <li>
                        <p>进行任何可能对互联网或其他通信网络的正常运转造成不利影响的行为；</p>
                    </li>
                    <li>
                        <p>含有法律、行政法规禁止的其他 内容的。</p>
                    </li>
                </ol>
            </li>
            <li>
                <p>在导航零号产品或服务的网页上发布信息或者利用导航零号产品或服务时还必须符合其他有关国家和地区的法律规定以及国际法的有关规定。</p>
            </li>
            <li>
                <p>不利用导航零号产品或服务从事以下活动：</p>
                <ol class="arabic simple">
                    <li>
                        <p>未经允许，进入计算机信息网络或者使用计算机信息网络资源的；</p>
                    </li>
                    <li>
                        <p>未经允许，对计算机信息网络功能进行删除、修改或者增加的；</p>
                    </li>
                    <li>
                        <p>未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；</p>
                    </li>
                    <li>
                        <p>故意制作、传播计算机病毒等破坏性程序的；</p>
                    </li>
                    <li>
                        <p>其他危害计算机信息网络安全的行为。</p>
                    </li>
                </ol>
            </li>
            <li>
                <p>不以任何方式干扰导航零号产品或服务。</p>
            </li>
            <li>
                <p>用户在操作导航零号产品或服务时还应遵守国家测绘法规等相关地图管理使用办法。</p>
            </li>
            <li>
                <p>遵守导航零号的所有其他规定和程序。</p>
            </li>
        </ol>
        <p>用户须对自己在使用导航零号产品或服务过程中的全部行为承担法律责任。用户承担法律责任的形式包括但不限于：对受到侵害者进行赔偿，以及在导航零号首先承担了因用户行为导致的行政处罚或侵权损害赔偿责任后，用户应承担由此给导航零号造成的全部损失。用户理解，如果导航零号发现其传输的信息明显属于上段第(1)条所列内容之一，依据中国法律，导航零号有义务立即停止传输，保存有关记录，向国家有关机关报告，并且删除含有该内容的地址、目录或关闭服务器。
        </p>
        <p>若用户的行为不符合以上提到的服务条款，导航零号将作出独立判断立即关闭用户服务帐号。</p>
    </div>
    <div class="section" id="id10">
        <h1>保障</h1>
        <p>用户同意保障和维护导航零号全体成员的利益，用户接受并同意负责由用户引起的全部责任，包括但不限于：律师费用，违反本服务条款的损害补偿费用，其它人使用用户的电脑、帐号而产生的全部责任。用户或者使用用户帐号的其他人在使用导航零号产品或服务过程中侵犯第三方知识产权及其他权利而导致被侵权人索赔的，由此产生的一切责任均由用户自行承担。
        </p>
    </div>
    <div class="section" id="id11">
        <h1>结束服务</h1>
        <p>用户或导航零号可随时根据实际情况中断导航零号产品或服务。导航零号有权单方不经通知终止向用户提供导航零号产品或服务项下某一项或多项服务；导航零号同意用户有权单方不经通知终止接受导航零号产品或服务。</p>
        <p>用户在导航零号产品或服务中选择结束导航零号产品或服务后，用户使用导航零号产品或服务的权利立即终止。从用户终止导航零号产品或服务之日起，导航零号不再对用户承担任何义务及责任。</p>
    </div>
    <div class="section" id="id12">
        <h1>通知</h1>
        <p>所有发给用户的通知都可通过包括但不限于电子邮件、常规的信件或在网站显著位置公告的方式进行传送。导航零号将通过上述方法之一将消息传递给用户，告知他们本服务条款的修改、服务变更、或其它重要事项。</p>
        <p>上述通知与公布或发送之日即视为已送达收件人（即用户），用户有责任通过上述方式查看此类通知。</p>
    </div>
    <div class="section" id="id13">
        <h1>内容的所有权</h1>
        <p>内容的定义包括：文字、软件、声音、相片、录象、图表；在广告中的全部内容；电子邮件系统的全部内容。所有这些内容的所有权均属于导航零号，并受版权、商标和其它财产所有权法律的保护。用户只能在导航零号和广告商相应书面授权后方能使用这些内容，用户不得以任何方式擅自复制、再造、传播任何内容、或以任何方式创造与内容有关的派生产品，否则导航零号将依法追究责任。用户在导航零号产品或服务上所创作的内容只代表用户本人的观点，与导航零号研发团队产品或服务及导航零号或其关联的公司无关，由此产生的一起责任亦由用户自行承担。
        </p>
    </div>
    <div class="section" id="id14">
        <h1>法律</h1>
        <p>本条款适用中华人民共和国的法律，并且排除一切冲突法规定的适用。</p>
        <p>如出现纠纷，用户和导航零号一致同意将纠纷交由导航零号所在地的法院受理。</p>
    </div>
    <div class="section" id="id15">
        <h1>青少年用户特别提示</h1>
        <p>青少年用户必须遵守全国青少年网络文明公约：</p>
        <p>要善于网上学习，不浏览不良信息；要诚实友好交流，不侮辱欺诈他人；要增强自护意识，不随意约会网友；要维护网络安全，不破坏网络秩序；要有益身心健康，不沉溺虚拟时空。</p>
        <p>导航零号研发团队</p>
        <p>2019年6月24日更新</p>
    </div>
</div>